{
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": ["error", { "trailingComma": true }],
    "linebreak-style": [0, "windows"],
    "quotes": [2, "double"],
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
    "no-useless-escape": 0,
    "generator-star-spacing": 0
  }

}
