{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"]
  }
}
